In [5]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [6]:
df = pd.DataFrame({"key1" : ["a", "a", None, "b", "b", "a", None],
                   "key2" : pd.Series([1, 2, 1, 2, 1, None, 1],
                                      dtype="Int64"),
                   "data1" : np.random.standard_normal(7),
                   "data2" : np.random.standard_normal(7)})

In [8]:
for name, group in df.groupby("key1"):
    print(name)
    print(group)

a
  key1  key2     data1     data2
0    a     1  0.870480 -0.385963
1    a     2  1.291635  0.864096
5    a  <NA>  0.634600  0.116275
b
  key1  key2     data1     data2
3    b     2 -1.399472 -0.165906
4    b     1 -0.687180  0.961259

In [12]:
for (k1, k2), group in df.groupby(["key1", "key2"]):
    print(name)
    print(group)

b
  key1  key2    data1     data2
0    a     1  0.87048 -0.385963
b
  key1  key2     data1     data2
1    a     2  1.291635  0.864096
b
  key1  key2    data1     data2
4    b     1 -0.68718  0.961259
b
  key1  key2     data1     data2
3    b     2 -1.399472 -0.165906

In [14]:
pieces = {name: group for name, group in df.groupby("key1")}

In [15]:
pieces["b"]

  key1  key2     data1     data2
3    b     2 -1.399472 -0.165906
4    b     1 -0.687180  0.961259